<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="footer-logo footer-item">
          <a href="<%= TeSS::Config.site['sponsor_url'] %>">
            <%= image_tag(TeSS::Config.site['sponsor_logo'], alt: t('sponsor')) %>
          </a>
        </div>

        <div class="footer-item contact-link">
          <%= mail_to(TeSS::Config.contact_email) %><br/>
        </div>

      </div>

      <div class="col-sm-4 col-xs-6 text-left">
      </div>

      <div class="col-sm-4 col-xs-6 text-left">
        <div class="footer-item">
          <%= link_to t('footer.about', title: TeSS::Config.site['title_short']), about_path %>
        </div>
        <div class="footer-item">
          <%= link_to t('footer.privacy'), privacy_path %>
        </div>
        <% if cookie_consent.required? %>
          <div class="footer-item">
            <%= link_to t('footer.cookie_preferences'), cookies_consent_path %>
          </div>
        <% end %>

        <% if TeSS::Config.feature['bioschemas_testing'] %>
          <div class="footer-item">
            <%= link_to t('footer.bioschemas_testing_tool'), bioschemas_test_path %>
          </div>
        <% end %>
      </div>

      <%# TODO: replace with Alliance info %>
      <%# render partial: 'layouts/supported_by' %>
    </div>
  </div>
</footer>
